.venv
.env
faq.db*
*.db
*.db-shm
*.db-wal
.ruff_cache/
.python-version
.csv

# ignore the .onnx & tokenizer.json file for week 2's homework from Github. Running the notebooks will recreate them.
02_vector_search/homework/models/


# Ignore all __pycache__ directories
__pycache__/

# Ignore all compiled Python files
*.pyc
*.py[codz]
*$py.class
